/* 深色模式样式配置 */
.theme--dark {
  .bluecard {
    background-color: rgba(50, 197, 255, 0.1);
    box-sizing: border-box;
    border: thin solid rgba(24, 254, 254, 0.2)!important;
  }
  .blueborder {
    // background-color: rgba(50, 197, 255, 0.1);
    box-sizing: border-box;
    border: thin solid rgba(24, 254, 254, 0.2)!important;
  }
  .blueinput {
    .v-input__slot {
      background-color: rgba(50, 197, 255, 0.1)!important;
    }
    fieldset {
      color: rgba(24, 254, 254, 0.2)!important;
    }
  }
  .bluetabdiv {
    .v-tabs > .v-tabs-bar {
      background-color: rgba(50, 197, 255, 0.1)!important;
    }
    .v-tabs-items {
      background-color: rgba(0, 0, 0, 0)!important;
    }
  }
  .bluetabs {
    border: thin solid rgba(24, 254, 254, 0.2)!important;
  }
  .blackTabDiv {
    .v-tabs > .v-tabs-bar {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      box-sizing: border-box;
    }
    .v-tabs-items {
      background-color: rgba(0, 0, 0, 0)!important;
    }
  }
  .customTimeline {
    .v-card {
      background-color: rgba(0, 255, 255, 0.2);
      box-sizing: border-box;
    }
  }
  .v-application--wrap {
    background-color: var(--v-dBackground-base) !important;
    // background-image: linear-gradient(
    //   0deg,
    //   var(--v-dBackground-base) 0%,
    //   var(--v-wBackground-base) 100%
    // );
  }
}

/* 浅色模式样式配置 */
.theme--light {
  .bluecard {
    background-color: rgba(50, 197, 255, 0.1);
    box-sizing: border-box;
    border: thin solid rgba(24, 254, 254, 0.2)!important;
  }
  .blueinput {
    .v-input__slot {
      background-color: rgba(50, 197, 255, 0.1);
    }
    fieldset {
      color: rgba(24, 254, 254, 0.2)!important;
    }
  }
  .bluetabdiv {
    .v-tabs > .v-tabs-bar {
      background-color: rgba(50, 197, 255, 0.1)!important;
    }
  }
  .bluetabs {
    border: thin solid rgba(24, 254, 254, 0.2)!important;
  }
  .customTimeline {
    .v-card {
      background-color: rgba(0, 255, 255, 0.2);
      box-sizing: border-box;
    }
  }
}

.bluecard-decoration-9 {
  position: relative;
  >.rectangle-1 {
    position: absolute;
    top: -2px;
    left: calc(25% - 40px);
    width: 80px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px !important;
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-2 {
    position: absolute;
    top: -2px;
    left: calc(30% - 8px);
    width: 16px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px !important;
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-3 {
    position: absolute;
    top: -2px;
    left: calc(65% - 80px);
    width: 160px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px !important;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-4 {
    position: absolute;
    right: -2px;
    top: calc(50% - 27px);
    width: 4px;
    height: 54px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-5 {
    position: absolute;
    right: -2px;
    top: calc(90% - 12px);
    width: 4px;
    height: 24px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-6 {
    position: absolute;
    bottom: -2px;
    left: calc(75% - 30px);
    width: 60px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-7 {
    position: absolute;
    bottom: -2px;
    left: calc(20% - 80px);
    width: 160px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color:var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-8 {
    position: absolute;
    left: -2px;
    top: calc(65% - 30px);
    width: 4px;
    height: 60px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-9 {
    position: absolute;
    left: -2px;
    top: calc(85% - 10px);
    width: 4px;
    height: 20px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
}

.bluecard-decoration-5 {
  position: relative;
  >.rectangle-1 {
    position: absolute;
    top: -2px;
    left: calc(80% - 27px);
    width: 54px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px !important;
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-2 {
    position: absolute;
    right: -2px;
    top: calc(80% - 27px);
    width: 4px;
    height: 54px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-3 {
    position: absolute;
    bottom: -2px;
    left: calc(75% - 12px);
    width: 24px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-4 {
    position: absolute;
    bottom: -2px;
    left: calc(25% - 27px);
    width: 54px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
  >.rectangle-5 {
    position: absolute;
    left: -2px;
    top: calc(45% - 27px);
    width: 4px;
    height: 54px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);;
    box-sizing: border-box;
  }
}

.warning-decoration-3 {
  position: relative;
  >.rectangle-1 {
    position: absolute;
    top: -3px;
    left: calc(25%);
    width: 18px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px !important;
    background-color: #f59a23;
    box-sizing: border-box;
  }
  >.rectangle-2 {
    position: absolute;
    right: -3px;
    top: calc(80% - 27px);
    width: 4px;
    height: 30px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: #f59a23;;
    box-sizing: border-box;
  }
  >.rectangle-3 {
    position: absolute;
    bottom: -3px;
    left: calc(5% - 2px);
    width: 18px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: #f59a23;;
    box-sizing: border-box;
  }
}

.error-decoration-3 {
  position: relative;
  >.rectangle-1 {
    position: absolute;
    top: -3px;
    left: calc(25%);
    width: 18px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px !important;
    background-color: red;
    box-sizing: border-box;
  }
  >.rectangle-2 {
    position: absolute;
    right: -3px;
    top: calc(80% - 27px);
    width: 4px;
    height: 30px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: red;;
    box-sizing: border-box;
  }
  >.rectangle-3 {
    position: absolute;
    bottom: -3px;
    left: calc(5% - 2px);
    width: 18px;
    height: 4px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: red;;
    box-sizing: border-box;
  }
}

.blueinput {
  .mdi-magnify {
    color: var(--v-primary-base)!important;
    font-size: x-large;
  }
  input {
    color: var(--v-primary-base)!important;
  }
  /* 由于主题色无法配置透明度，改为在深浅模式中分别进行配置 */
  /* fieldset {
    color: var(--v-primary-base)!important;
  } */
  .v-select__slot {
    .v-select {
      color: var(--v-primary-base)!important;
    }
    .v-select__selection--disabled {
      color: var(--v-primary-base)!important;
    }
  }
  .v-input__slot input[type="datetime-local"]::after {
    right: 0px!important;
    top: 16px !important;
  }
}

/* 由于主题色无法配置透明度，改为在深浅模式中分别进行配置 */
/* .bluecard {
  border: thin solid var(--v-primary-base)!important;
  box-sizing: border-box;
} */

.rightcard {
  border-left: none !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.bluetitlepart {
  position: relative;
  top: -40px;
  margin-left: 0px;
  color: var(--v-primary-base) !important;
  font-weight: 700;
  .title {
    position: absolute;
    z-index: 3;
    text-align: center;
    width: 142px;
    top: 20px;
  }
  .bgImg {
    position: absolute;
    z-index: 2;
    top: 20px;
  }
  .cardtop {
    position: absolute;
    left: 160px;
    top: 23px;
    .darkbluerectangle {
      width: 9px;
      height: 17px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
      position: absolute;
      left: 0;
    }
    .lightbluerectangle {
      width: 9px;
      height: 17px;
      background-color: var(--v-primary-base);
      box-sizing: border-box;
      position: absolute;
      left: 16px;
    }
  }
  .rightline {
    position: absolute;
    left: 250px;
    top: 33px;
  }
}

.bluetitlepart_new {
  position: relative;
  top: 14px;
  margin-left: 0px;
  color: var(--v-primary-base) !important;
  font-weight: 700;
  display: flex;
  z-index: 3;
  .title {
    position: relative;
    background: #2d64a2;
    height: 35px;
    display: inline-block;
    padding: 0 14px;
    clip-path: polygon(
      14px 0%,
      100% 0%,
      100% calc(100% - 14px),
      calc(100% - 14px) 100%,
      0% 100%,
      0% 14px
    );
    &::before {
      position: absolute;
      content: ' ';
      height: 100%;
      width: 100%;
      background: #152241;
      top: 0;
      left: 0;
      clip-path: polygon(
        15px 1px,
        calc(100% - 1px) 1px,
        calc(100% - 1px) calc(100% - 15px),
        calc(100% - 15px) calc(100% - 1px),
        1px calc(100% - 1px),
        1px 15px
      );
    }
    span {
      position: relative;
      z-index: 1;
    }
  }
  .cardtop {
    position: relative;
    left: 24px;
    top: 4px;
    z-index: 1;
    .darkbluerectangle {
      width: 9px;
      height: 17px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
      position: absolute;
      left: 0;
    }
    .lightbluerectangle {
      width: 9px;
      height: 17px;
      background-color: var(--v-primary-base);
      box-sizing: border-box;
      position: absolute;
      left: 16px;
    }
  }
}

.bluetitledivider {
  height: 32px;
  .title-part {
    display: flex;
  }
  .customdivider {
    .v-divider--inset:not(.v-divider--vertical){
      margin-left: 0 !important;
      max-width: 100%;
    }
    .v-divider {
      border-color: var(--v-primary-base);
    }
    .title-left {
      display: inline-block;
      .titletext {
        position: relative;
        top: -10px;
        font-size: 16px;
        display: inline-block;
        text-align: center;
        width: 88px;
        color: var(--v-icon-base);
        font-weight: 700;
        z-index: 1;
        padding: 0 5px 0 5px;
      }
    }
    .bgImg {
      position: relative;
      top: -43px;
    }
    .cardtop {
      position: relative;
      top: -12px;
    }
    .darkbluerectangle {
      width: 6px;
      height: 12px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
      position: absolute;
      left: 0;
    }
    .lightbluerectangle {
      width: 6px;
      height: 12px;
      background-color: var(--v-primary-base);
      box-sizing: border-box;
      position: absolute;
      left: 10px;
    }
  }
}

.darkbluecard {
  border: 1px solid var(--v-primary-base)!important;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px !important;
  .v-chip {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(24, 122, 205, 0.88);
    box-sizing: border-box;
  }
}

.bluetabs {
  /* 由于主题色无法配置透明度，改为在深浅模式中分别进行配置 */
  /* border: thin solid var(--v-primary-base)!important; */
  border-radius: 8px!important;
  .v-tab--active {
    background-color: var(--v-primary3-base)!important; 
    border-radius: 8px;
    box-shadow: inset 0px 1px 6px 0px rgba(4, 151, 253, 0.44);
  }
  .v-tabs-slider-wrapper {
    display: none;
  }
  .v-tabs-bar__content {
    padding: 8px 0 8px 0;
  }
  .v-tab:not(.v-tab--active) {
    color: var(--v-info-base)!important;
  }
  .v-tab {
    margin-right: 5px;
  }
  .v-tab:before {
    border-radius: 8px;
  }
}

.blackTabs {
  border-radius: 8px!important;
  .v-tab--active {
    background-color: var(--v-primary3-base)!important; 
    border-radius: 8px;
    box-shadow: inset 0px 1px 6px 0px rgba(4, 151, 253, 0.44);
  }
  .v-tabs-slider-wrapper {
    display: none;
  }
  .v-tabs-bar__content {
    padding: 8px 0 8px 0;
  }
  .v-tab:not(.v-tab--active) {
    color: var(--v-info-base)!important;
  }
  .v-tab {
    margin-right: 5px;
  }
  .v-tab:before {
    border-radius: 8px;
  }
}

.bluetree {
  .v-treeview-node--active {
    .v-icon {
      color: var(--v-primary-base)!important;
    }
  }
}

.bluelist {
  .v-list {
    background-color: transparent;
  }
}

.customTimeline {
  .v-timeline-item__dot {
    background: none !important;
  }

  .v-timeline-item__dot--small {
    width: 10px !important;
    height: 10px !important;
  }

  .v-card::after {
    display: none;
  }
}

.format-time {
  font-family: "Technology", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  vertical-align: middle;
  letter-spacing: 4px;
  font-size: 1.925rem;
  line-height: 1.925rem;
}

.format-date {
  font-size: 1.15rem !important;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.001em !important;
}

.headerQuantity {
  line-height: 1.75rem;
  .format-number{
    font-family: "Technology", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    letter-spacing: 4px;
    font-size: 1.75rem;
  }
}

.head-brand{
  position: relative;
  z-index:1;
  width: 120px;
  height: 45px;
  .head-brand-background{
    position: absolute;
    z-index:-1;
    margin: auto;
    top: 2px;
    left: 0px;
  }
}

.head-brand-text {
  font-size: 1.25rem !important;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
}

.app-menu{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: transparent !important;
  .menu-item{
    position: relative;
    z-index:1;
    .menu-background{
      position: absolute;
      z-index:-1;
      margin: auto;
    }
  }
  .submenu{
    width: 100%;
    height: 69px;
  }
  .submenu-left{
    height: 85px;
    background-image: linear-gradient(
      0deg,
      var(--v-dBackground-base) 0%,
      var(--v-wBackground-base) 100%
    );
  }
  .submenu-right{
    background-image: linear-gradient(
      0deg,
      var(--v-dBackground-base) 0%,
      var(--v-wBackground-base) 100%
    );
    clip-path: polygon( 40px -2px, 100% -2px, 100% 100%, 0 100%, 0 40px);
    position: relative;
    z-index:1;
    overflow: inherit;
    .rectangle-1 {
      position: absolute;
      z-index:2;
      top: -2px;
      left: calc(50% - 80px);
      width: 160px;
      height: 4px;
      // transform: rotate(270deg);
      border-radius: 2px;
      border: thin solid rgba(0, 0, 0, 0.588)!important;
      background-color: var(--v-wBackground-base);
      box-sizing: border-box;
    }
  }
  .submenu-item{
    position: relative;
    z-index:1;
    margin-left: 10px;
    margin-right: 5px;
    height: 80px;
    background-color: transparent;
    border: 0px;
    box-shadow: 0px 3px 1px -2px transparent, 0px 2px 2px 0px transparent, 0px 1px 5px 0px transparent !important;
    .submenu-background{
      position: absolute;
      z-index:-1;
      margin: auto;
      top: 2px;
      left: -6px;
    }
    .submenu-border{
      position: absolute;
      z-index:-2;
      margin: auto;
      top: -3px;
      left: -10px;
    }
  }
  .v-card--link:before {
    opacity: 0;
  }
}

.rader-chart {
  position: relative;
  z-index:1;
  // cursor: pointer;
  cursor: default;
  .chart-background{
    position: absolute;
    z-index:-1;
    margin: auto;
    top: -6px;
    left: calc(50% - 115px);
  }
  .chart-info{
    position: absolute;
    z-index:2;
    margin: auto;
    top: calc(50% - 41px);
    left:calc(50% - 61px);
  }
}

.alarm-item-advance {
  border: thin solid rgba(24, 254, 254, 0.7)!important;
  background: none!important;
  cursor: pointer;
  position: relative;
  .rectangle-1 {
    position: absolute;
    top: -3px;
    left: calc(40% - 15px);
    width: 30px;
    height: 6px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  .rectangle-2 {
    position: absolute;
    bottom: -3px;
    left: calc(10% - 10px);
    width: 20px;
    height: 6px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  .rectangle-3 {
    position: absolute;
    right: -3px;
    top: calc(50% - 27px);
    width: 6px;
    height: 54px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
}
.alarm-item-warning {
  border: thin solid rgba(207, 139, 29, 0.7)!important;
  background: none!important;
  cursor: pointer;
  position: relative;
  .rectangle-1 {
    position: absolute;
    top: -3px;
    left: calc(40% - 15px);
    width: 30px;
    height: 6px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-warning-base);
    box-sizing: border-box;
  }
  .rectangle-2 {
    position: absolute;
    bottom: -3px;
    left: calc(10% - 10px);
    width: 20px;
    height: 6px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-warning-base);
    box-sizing: border-box;
  }
  .rectangle-3 {
    position: absolute;
    right: -3px;
    top: calc(50% - 27px);
    width: 6px;
    height: 54px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-warning-base);
    box-sizing: border-box;
  }
}

.alarm-item-delay {
  border: thin solid rgba(217, 0, 27, 0.7)!important;
  background: none!important;
  cursor: pointer;
  position: relative;
  .rectangle-1 {
    position: absolute;
    top: -3px;
    left: calc(40% - 15px);
    width: 30px;
    height: 6px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-error-base);
    box-sizing: border-box;
  }
  .rectangle-2 {
    position: absolute;
    bottom: -3px;
    left: calc(10% - 10px);
    width: 20px;
    height: 6px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-error-base);
    box-sizing: border-box;
  }
  .rectangle-3 {
    position: absolute;
    right: -3px;
    top: calc(50% - 27px);
    width: 6px;
    height: 54px;
    // transform: rotate(270deg);
    border-radius: 7px;
    background-color: var(--v-error-base);
    box-sizing: border-box;
  }
}
.group-btn-tab{
  .tab-item {
    position: relative;
    z-index:1;
    .item-background{
      position: absolute;
      z-index:-1;
    }
  }
  .v-btn:hover::before,
  .v-btn--active::before {
    opacity: 0;
  }
}

.tpm-statistics {
  border-top: 1px solid rgba(103, 122, 137, 0.6);
  border-bottom: 1px solid rgba(103, 122, 137, 0.6);
  min-width: 500px;
  .num {
    font-family: "Technology", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    letter-spacing: 3px;
    font-size: 25px;
  }
  .preicon {
    border: 1px solid rgba(191, 188, 188, 0.5);
  }
}

.task-table {
  background: none !important;
  td, th {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    // letter-spacing: 3px;
    font-size: 0.85rem !important;
    box-shadow: none !important;
    border-bottom: 0px !important;
  }
  .highlight {
    background-color: var(--v-info-darken3) !important;
    span {
      color: #ffffff !important;
    }
  }
  .inProgress {
    background-color: var(--v-success-base);
  }
  .delay {
    background-color: var(--v-error-base);
  }
  .inProgress-darken {
    background-color: var(--v-success-darken4);
  }
  .delay-darken {
    background-color: var(--v-error-darken4);
  }
}

.task-table-mini {
  background: none !important;
  td, th {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    // letter-spacing: 3px;
    font-size: 0.725rem !important;
    box-shadow: none !important;
    border-bottom: 0px !important;
  }
  .highlight {
    background-color: var(--v-info-darken3) !important;
    span {
      color: #ffffff !important;
    }
  }
  .inProgress {
    background-color: var(--v-success-base);
  }
  .delay {
    background-color: var(--v-error-base);
  }
  .inProgress-darken {
    background-color: var(--v-success-darken4);
  }
  .delay-darken {
    background-color: var(--v-error-darken4);
  }
}

.v-dialog {
  box-shadow: none;
} // 去除窗口的阴影

.app-dialog {
  .v-card {
    // min-height: 600px;
    border: thin solid rgba(24, 196, 254, 0.5)!important;
    // border: thin solid var(--v-primary-base)!important;
    position: relative;
    .v-divider {
      border-color: var(--v-primary2-darken1);
    }
    .rectangle-1 {
      position: absolute;
      top: -3px;
      left: calc(90% - 10px);
      width: 20px;
      height: 6px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-2 {
      position: absolute;
      right: -3px;
      top: calc(45% - 27px);
      width: 6px;
      height: 54px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-3 {
      position: absolute;
      right: -3px;
      top: calc(60% - 10px);
      width: 6px;
      height: 20px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-4 {
      position: absolute;
      bottom: -3px;
      left: calc(30% - 165px);
      width: 330px;
      height: 6px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-5 {
      position: absolute;
      left: -3px;
      top: calc(40% - 100px);
      width: 6px;
      height: 200px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
  }
}

.confirm-dialog {
  .v-card {
    min-height: 250px;
    border: thin solid rgba(24, 196, 254, 0.5)!important;
    position: relative;
    .v-divider {
      border-color: var(--v-primary2-darken1);
    }
    .rectangle-1 {
      position: absolute;
      top: -3px;
      left: calc(90% - 5px);
      width: 10px;
      height: 6px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-2 {
      position: absolute;
      right: -3px;
      top: calc(45% - 27px);
      width: 6px;
      height: 54px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-3 {
      position: absolute;
      right: -3px;
      top: calc(80% - 10px);
      width: 6px;
      height: 20px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-4 {
      position: absolute;
      bottom: -3px;
      left: calc(30% - 73px);
      width: 146px;
      height: 6px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
    .rectangle-5 {
      position: absolute;
      left: -3px;
      top: calc(60% - 30px);
      width: 6px;
      height: 60px;
      // transform: rotate(270deg);
      border-radius: 7px;
      background-color: var(--v-primary2-base);
      box-sizing: border-box;
    }
  }
}

.primary-oulined-btn{
  box-shadow: inset 0px 0px 28px 0px rgba(17, 40, 255, 0.66);
}

.primary-oulined-btn2{
  background-color: rgba(50, 197, 255, 0.1);
  // box-shadow: inset 0px 0px 28px 0px  rgba(50, 197, 255, 0.1);
  border: 1px solid var(--v-primary-darken4)!important;
}

.tile-bluecard {
  border: 1px solid var(--v-primary-darken3)!important;
  background: none !important;
  position: relative;
  >.rectangle-1 {
    position: absolute;
    top: -3px;
    left: calc(0% - 3px);
    width: 6px;
    height: 6px;
    // transform: rotate(270deg);
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-2 {
    position: absolute;
    top: -3px;
    right: calc(0% - 3px);
    width: 6px;
    height: 6px;
    // transform: rotate(270deg);
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-3 {
    position: absolute;
    bottom: -3px;
    right: calc(0% - 3px);
    width: 6px;
    height: 6px;
    // transform: rotate(270deg);
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-4 {
    position: absolute;
    bottom: -3px;
    left: calc(0% - 3px);
    width: 6px;
    height: 6px;
    // transform: rotate(270deg);
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-5 {
    position: absolute;
    left: -2px;
    top: calc(50% - 18px);
    width: 4px;
    height: 36px;
    // transform: rotate(270deg);
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
  >.rectangle-6 {
    position: absolute;
    right: -2px;
    top: calc(50% - 18px);
    width: 4px;
    height: 36px;
    // transform: rotate(270deg);
    background-color: var(--v-primary-base);
    box-sizing: border-box;
  }
}

.check-point {
  position: relative;
  width: 165px;
  z-index: 1;
  .background-img {
    position: absolute;
    z-index: -1;
    left: 14px;
  }
  .alarm-num {
    width: 87px;
  .label-title {
      font-size: 14px;
      font-family: 'Arial', sans-serif;
      font-weight: 700;
      white-space: inherit;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
    .num {
      font-size: 18px;
      font-family: 'Arial Bold', 'Arial', sans-serif;
      font-weight: 700;
    }
  }
}

.alarm-record {
  background: none !important;
  box-shadow: 0px 3px 1px -2px transparent, 0px 2px 2px 0px transparent, 0px 1px 5px 0px transparent !important;
  position: relative;
  cursor: pointer;
  width: 165px;
  z-index: 1;
  .background-img {
    position: absolute;
    z-index: -2;
    // left: 28px;
  }
  .background-icon {
    position: absolute;
    z-index: -1;
    right: -10px;
  }
  .label-title {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    vertical-align: bottom;
  }
  .num {
    font-size: 20px;
    font-family: 'Arial Bold', 'Arial', sans-serif;
    font-weight: 700;
    vertical-align: bottom;
    line-height: 1.2;
  }
}

.failure-time {
  border-top: 1px solid rgba(103, 122, 137, 0.75);
  border-bottom: 2px solid rgba(103, 122, 137, 0.75);
  min-width: 350px;
  .num {
    font-family: "Technology", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    // vertical-align: middle;
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
  }
  .label-title {
    line-height: 1.2;
    font-size: 0.4rem !important;
    font-weight: 900;
  }
}

.failure-detail {
  .alarm-text {
    font-size: 30px;
    font-family: "HarmonyOS Sans SC", sans-serif;
    font-weight: 900;
    text-shadow: 0px 1px 11px rgba(242, 105, 27, 0.68);
  }
  .time-text {
    font-size: 14px;
  }
  .failure-detail-info {
    position: relative;
    width: 100%;
    .info-item {
      width: 100%;
      height: 200px;
      font-weight: 600;
    }
    .page-text {
      font-size:12px;
      font-weight: 600;
      position: absolute;
      bottom: -20px;
      width:100%;
      text-align: center;
    }
  }
  .v-card {
    .card-btn {
      position: relative;
      z-index:1;
      .item-background{
        position: absolute;
        z-index:-1;
      }
    }
    .v-bth {
      background: none!important;
    }
    .v-btn--is-elevated {
      box-shadow: inset 0px 0px 0px 0px transparent !important;
    }
    .v-btn:hover::before,
    .v-btn--active::before {
      opacity: 0;
    }
  }
  .sparepart {
    position: relative;
    z-index: 1;
    .background-img-1 {
      position: absolute;
      z-index: -1;
      right: -11px;
      opacity: 0.4;
      bottom: -25px
    }
    .background-img-2 {
      position: absolute;
      z-index: -2;
      right: 1px;
      bottom: -14px
    }
  }
}

.high-blue-btn {
  border-radius: 4px;
  border: 1px solid #1565a4;
  background-color: rgba(16, 34, 66, 0.5) !important;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 10px 0px rgba(4, 151, 253, 0.44);
}

.knowledge-chart{
  .pie-chart{
    position: relative;
    z-index: 1;
    .background-img-1 {
      position: absolute;
      z-index: -1;
      left: calc(50% - 150px);
      opacity: 0.4;
      bottom: calc(50% - 150px);
    }
    .background-img-2 {
      position: absolute;
      z-index: -2;
      left: calc(50% - 137px);
      bottom: calc(50% - 137px);
    }
    .circle {
      position: absolute;
      z-index: 1;
      left: calc(50% - 63px);
      bottom: calc(50% - 63px);
      width: 127px;
      height: 127px;
      border-radius: 50%;
      background-color: var(--v-dBackground-base);
      box-sizing: border-box;
      opacity: 0.7;
    }
    .info-item {
      position: absolute;
      z-index: 2;
      font-family: "ABeeZee", sans-serif;
      left: calc(50% - 63px);
      bottom: calc(50% - 63px);
      width: 127px;
      height: 127px;
      background: none;
    }
    .info-label {
      position: absolute;
      z-index: 2;
      font-family: "ABeeZee", sans-serif;
      // right: -20px;
      bottom: calc(45%);
      // width: 160px;
      max-height: 200px;
      background: none;
      div {
        width: 100%;
        border-left: 1px solid var(--v-primary-base);
      }
      .line-1 {
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 50%;
        width: 20px;
        height: 1px;
        background-color: var(--v-primary-base);
        box-sizing: border-box;
      }
    }
  }
}
// 智能控制页面
.control {
  .gray-table {
    // background: transparent !important;
    overflow-y: auto;
    box-sizing: border-box;
    th {
      font-family: "Open Sans", sans-serif !important;
      font-style: normal;
      vertical-align: middle;
      font-size: 0.8rem !important;
      box-shadow: none !important;
      color: rgba(255, 255, 255, 0.95);
      background-color: rgba(70, 70, 70, 0.7) !important;
      vertical-align: middle; /* 垂直居中对齐 */
    }
    td {
      line-height: 2rem;
      height: 2rem;
    }
    tr:nth-of-type(even){
      background-color: rgba(70, 70, 70, 0.3) !important;
    }
    tr:hover {
      background-color: rgba(70, 70, 70, 0.7) !important;
    }
    // tr:nth-of-type(even) :hover {
    //   background-color: rgba(70, 70, 70, 0.7) !important;
    // }
  }
  .background {
    background: url('../icons/img/control/border.png') no-repeat;
    background-size: 100% 100%;
    .bluetitlepart {
      top: -3.4375rem;
    }
    .darkbluerectangle, .lightbluerectangle {
      top: 0.8rem;
    }
    .record-table {
      width: 96%;
      margin-left: 2%;
      background: transparent !important;
      box-sizing: border-box;
      overflow-y: scroll;
      padding: 0 1.25rem; // 20px
      th {
        font-family: "Open Sans", sans-serif !important;
        font-style: normal;
        vertical-align: middle;
        font-size: 0.8rem !important;
        box-shadow: none !important;
        border: 1px solid rgba(66, 130, 255, 0.35) !important;
        background-color: #1c3b68 !important;
      }
      tr:hover td {
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(24, 144, 255, 0.35) 100%);
      }
    }
  }
  .mdo-bluecard {
    border: 1px solid var(--v-primary-darken3)!important;
    background: none !important;
    position: relative;
    border-radius: 15px;
    >.rectangle-1 {
      position: absolute;
      left: -0.25rem;
      top: calc(50% - 60px);
      width: 6px;
      height: 128px;
      background-color: #32c5ff;
      box-sizing: border-box;
      border-radius: 7px;
    }
    >.rectangle-2 {
      position: absolute;
      left: 11%;
      // width: 6rem;
      width: 20%;
      height: 2px;
      top: -1px;
      border-radius: 7px;
      background-color: #32c5ff;
      box-sizing: border-box;
    }
    >.rectangle-3 {
      position: absolute;
      right: -3px;
      top: calc(50% - 3px);
      width: 6px;
      height: 54px;
      border-radius: 7px;
      background-color: #32c5ff;
      box-sizing: border-box;
    }
    >.rectangle-4 {
      position: absolute;
      left: 40%;
      top: -0.37rem; // 6px
      width: 4%;
      height: 0.37rem;
      background-color: #32c5ff;
      box-sizing: border-box;
    }
  }
  
  .name {
    height: 1.6rem; // 27px
    line-height: 1.6rem;
    font-family: 'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight: 700;
    color: #18fefe;
    font-size: 1.25rem; // 20px
    text-align: left;
    line-height: normal;
  }
  .water {
    p {
      margin-bottom: 0;
      font-size: 1.25rem;
    }
    .water_info {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding-right: 20px;
      .one {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      p{
        font-size: 2.8rem; // 50px
        line-height: 2.5rem; //40px
      }

      span {
        font-size: 14px;
        color: #9ba3aa;
      }
      .symbol {
        top: -9px;
        position: absolute;
        font-size: 20px;
        right: -14px;
      }
    }
    .line {
      width: 1px;
      color: #fff;
      height: 40px;
      border-left: 1px solid #fff;
      margin: 0 1.25rem;
    }
  }
}
.knowledge-repair-record{
  .title-text {
    font-family: 'Open Sans Bold', 'Open Sans', 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
  }
  .page-text {
    font-size:12px;
    font-weight: 600;
  }
  .repair-record-table {
    background: none !important;
    th {
      font-family: "Open Sans", sans-serif !important;
      font-weight: 600;
      font-style: normal;
      vertical-align: middle;
      // letter-spacing: 3px;
      font-size: 1.2rem !important;
      box-shadow: none !important;
      border: 1px solid rgba(66, 130, 255, 0.35) !important;
      background-color: rgb(14, 98, 98) !important;
    }
    td {
      border: 1px solid rgba(66, 130, 255, 0.35) !important;
    }
  }
}

.home-model {
  position: absolute;
  z-index: 1;
  top:0px;
  width: 100%;
  .home-btns {
    position: absolute;
    z-index: 1;
    right: 220px;
    top: 120px;
    .btn-unactive {
      width: 120px;
      height: 120px;
      background-color: transparent;
      cursor: pointer;
    }
    .btn-active {
      width: 120px;
      height: 120px;
      border: thin solid rgba(88, 192, 227, 0.579)!important;
      background-image: linear-gradient(
        0deg,
        var(--v-dBackground-base) 0%,
        var(--v-primary-lighten2) 100%
      );
      cursor: pointer;
    }
    .sub-btns-group {
      position: absolute;
      z-index: 1;
      right: 150px;
      top: 164px;
      .btn-unactive {
        width: 140px;
        height: 38px;
        border: thin solid rgba(196, 204, 208, 0.5)!important;
        background-color: transparent;
        cursor: pointer;
      }
      .btn-active {
        width: 140px;
        height: 38px;
        border: thin solid rgba(88, 192, 227, 0.579)!important;
        background-image: linear-gradient(
          0deg,
          var(--v-dBackground-lighten1) 0%,
          var(--v-primary-lighten2) 100%
        );
        cursor: pointer;
      }
    }
  }
  .viewpoint-switch {
    position: absolute;
    z-index: 1;
    left: 80px;
    top: 300px;
  }
  .unity-loading {
    position: absolute;
    z-index: 1;
    left: calc(50% - 100px);
    top: 300px;
  }

}



.task-view {
  position: relative;
  z-index: 1;
  .task-model {
    position: absolute;
    z-index: -1;
    top: var(--top);
    width: 100%
  }
  .table-list{
    position: absolute;
    z-index: -1;
    width: 100%
  }
}

// 细长样式的input，适用于组件v-select
.thin-input {
  .v-input__control {
    min-height: 30px !important;
    .v-input__slot {
      padding-left: 6px !important;
      padding-right: 4px !important;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0) !important;
    }
  }
  .v-input__append-inner {
    padding-left: 0px !important;
    i {
      font-size: 20px !important;
      // color: var(--v-primary-base);
    }
  }
}

.three-canvas {
  width:100%;
  height:100%;
  overflow: hidden;
  background: transparent;
}

/**
  * 故障诊断 模块
  * faultDiagnosis
  * fault-diagnosis
  */

.text-warning {
  color: var(--v-warning-base);
}

.text-error {
  color: var(--v-error-base);
}

.text-success {
  color: var(--v-success-base);
}

.text-info {
  color: var(--v-info-base);
}

.text-primary {
  color: var(--v-primary-base);
}

.text-secondary {
  color: var(--v-secondary-base);
}

.text-disabled {
  color: var(--v-disabled-base);
}

.text-dark {
  color: var(--v-dark-base);
}

.text-light {
  color: var(--v-light-base);
}

.model-viewpoint-switch {
  width: 212px;
  height: 234px;
  padding: 2px 2px 2px 2px;
  border-radius: 20px;
  border: thin solid rgba(199, 207, 210, 0.579)!important;
  background-image: linear-gradient(-180deg, rgba(58, 59, 63, 0.18) 0%, #171717 56.68449197860889%);
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
  .resert-btn {
    cursor: pointer;
    width: 140px;
    height: 38px;
    background-color: rgba(50, 197, 255, 0.1);
    border: thin solid rgba(88, 192, 227, 0.579)!important;
  }
}

.machine-rate-unactive {
  background-color:rgba(255, 255, 255, 0.05)!important;
}

.machine-rate-active {
  background-color:rgba(50, 197, 255, 0.2)!important;
  border: thin solid rgba(50, 197, 255, 0.5)!important;
}

// 蓝色细框-深色模式
.theme--dark .blue-thin-border {
  border: thin solid rgba(24, 254, 254, 0.2);
}
// 蓝色细框-浅色模式
.theme--light .blue-thin-border {
  border: thin solid rgba(24, 254, 254, 0.2);
}

.error-thin-border {
  border: thin solid var(--v-error-base);
}

// 透明背景
.div-transparent {
  border-radius: 4px;
  background-color: rgba(60, 68, 68, 0.5)
}

// 透明背景
.input-transparent {
  .v-input__slot {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
  fieldset {
    color: rgba(0, 0, 0, 0.2)!important;
  }
}

.timeback-datatree {
  .v-treeview-node__level {
    width: 4px!important;
  }
  .v-treeview-node--active {
    border: thin solid var(--v-primary-base);
  }
}

.time-back{
  .slider-container {
    // width: 50%;
    .v-slider {
      border: thin solid #555555;
      padding-left: 8px;
      padding-right: 8px;
    }
    .v-slider--horizontal {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .v-slider__thumb{
      z-index: 2;
    }
    .drag-line {
      width: 2px;
      height: 800px;
      background: var(--v-primary-base);
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%);
      z-index: 1;
    }
  }
}

